*.user
Debug
x64
.vs
*.ilk
*.pdb
*.exe
*.lib


*Makefile
*CMakeCache.txt
*/CMakeFiles/**

SalsaMusicality/cmake_install.cmake
SalsaMusicality/SalsaMusicality
SalsaMusicality/.DS_Store

fluidsynth/*.cmake
fluidsynth/src/fluidsynth
fluidsynth/src/FluidSynth.framework/Versions/2/FluidSynth

.vscode/**
.DS_Store

SalsaMusicality/SoundLibraries/libSoundLibraries.dylib
SalsaMusicality/SoundLibraries/libSoundLibraries.dylib
