*.user
Debug
x64
.vs
*.ilk
*.pdb
*.exe
*.lib

*.cmake
*Makefile
*CMakeCache.txt
*/CMakeFiles/**

SalsaMusicality/cmake_install.cmake
SalsaMusicality/SalsaMusicality
SalsaMusicality/.DS_Store

.vscode/**
.DS_Store
