*.user
Debug
x64
.vs
*.ilk
*.pdb
*.exe
*.lib
SalsaMusicality/Main/CMakeFiles/**
SalsaMusicality/Main/CMakeCache.txt
SalsaMusicality/Main/cmake_install.cmake

*.cmake
*CMakeCache.txt
*/CMakeFiles/**

.vscode/**
SalsaMusicality/Main/Makefile

SalsaMusicality/.DS_Store
SalsaMusicality/Main/Makefile
SalsaMusicality/Main/SalsaMusicality
.DS_Store
